<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <footer class="footer-content">
                <p>&copy; Marc 2021</p>
            </footer>
        </div>
    </body>
</html>
